[data-aos][data-aos][data-aos-duration="50"] {
    -webkit-transition-duration: 50ms;
            transition-duration: 50ms;
  }

  [data-aos][data-aos][data-aos-duration="50"] {
    -webkit-transition-duration: 50ms;
            transition-duration: 50ms;
  }

  [data-aos][data-aos][data-aos-duration="50"] {
    -webkit-transition-duration: 50ms;
            transition-duration: 50ms;
  }